.pnl-inside{
    border-radius: 10px;
    height: 21%;
    width: 100%;
    padding: 10px;
    background-color: #222222;

}


.pnl-title{
    width: 100%;
    height: 150px;
    text-align: center;
}
.pnl-box{
    width:400px;
    height: 250px;
    background-color: #d1c338;
    border-radius: 10px;
    padding: 10px;
}
.txt-title{
    text-align: center;   
    font-size: 40px;
    color: #d1c338;
    font: bold;
}
.title-default{
    text-align: center;   
    font-size: 36px;
    color: #d1c338;    
}
.title-box{
     text-align: left;   
    font-size: 26px;
    color: black;
    font: bold;
}
.pnl-left{
    background-color: #222222;
    height: 100%;
    width: 100%;
}
